@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans antialiased text-gray-800 bg-white transition-colors duration-300;
  }
}

@layer utilities {
  .text-shadow-sm {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  }

  .text-shadow-md {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
}